<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}CGLE{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/js/css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.css">
        <link rel="stylesheet" href="{{ asset('twbs/bootstrap/dist/css/bootstrap.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}


    <div class="row">
        <div class="col-xs-6">
            <img src="{{ asset('bundles/logo/logo.png') }}" onclick="window.location.href='{{ path('homepage') }}'" id="logo"/>
        </div>
        <div class="col-xs-6">
            <h3 id="date-current" >{{ 'now'|date('l jS, F, Y') }}</h3>
        </div>
    <div class="container" style="width : 95%">
        <div class="row">
            <div class="col-lg-12 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                    <div class="list-group">
                        <a href="#" class="list-group-item text-center">
                            <h4 class="glyphicon glyphicon-check"></h4><br/>Home
                        </a>
                        <a href="#" class="list-group-item active text-center">
                            <h4 class="glyphicon glyphicon-question-sign"></h4><br/>Proposals
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <h4 class="glyphicon glyphicon-user"></h4><br/>Jobs
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <h4 class="glyphicon glyphicon-list-alt"></h4><br/>Stock
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <h4 class="glyphicon glyphicon-usd"></h4><br/>Accounting
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                    <div class="bhoechie-tab-content">

                    </div>
                    <div class="bhoechie-tab-content active">
                        <div id="sidebar">
                            {%  block proposals %}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="bhoechie-tab-content">
                        <div id="sidebar">
                            {%  block jobs %}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="bhoechie-tab-content">

                    </div>
                    <div class="bhoechie-tab-content">

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function() {
            $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });
        });
    </script>
    <script src="{{ asset('bundles/app/js/thirdparty/jquery.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.js"></script>
    <script src="{{ asset('twbs/bootstrap/js/dropdown.js') }}"></script>
{% endblock %}
</body>
</html>
