{% extends 'base.html.twig' %}

{%  block proposals %}




        <div class="row" id="search-bar">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." id="term">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="search-btn">Go</button>
                    </span>
                </div>
            </div>
        </div>
        <h3>Approved Proposals/Requests</h3>
        <table id="approved" >

            <th style="padding-left: 20px">
                Reference
            </th>
            <th style="padding-left: 20px">
                Date Approved
            </th>

            {% for proposal2 in approved %}

                <tr>
                    <td style="padding-left: 20px">
                        <a href="{{ path('proposal_view', {'proposal_id': proposal2.id}) }}">{{ proposal2.reference }}</a>
                    </td>
                    <td style="padding-left: 20px">
                        {% if proposal2.approvedAt %}
                            {{ proposal2.approvedAt.format('d-m-Y') }}
                        {% endif %}
                    </td>
                </tr>


            {% endfor %}

        </table>

        <div style="padding-bottom: 30px">
            <h3>Pending Proposals</h3>
            <table id="pending">

                <th style="padding-left: 20px">
                    Reference
                </th>
                <th style="padding-left: 20px">
                    Created At
                </th>
                <th style="padding-left: 20px">
                    Last Edit
                </th>

                {% for proposal in pending %}


                    <tr>
                        <td style="padding-left: 20px">
                            <a href="{{ path('proposal_view', {'proposal_id': proposal.id}) }}">{{ proposal.reference }}</a>
                        </td>

                        <td style="padding-left: 20px">
                            {{ proposal.createdAt.format('d-m-Y') }}
                        </td>

                        <td style="padding-left: 20px">
                            {{ proposal.updatedAt.format('d-m-Y') }}
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>

        <div id="add-proposal">

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" onclick="window.location.href='{{  path('proposal_new') }}'" style="width: 167px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    New proposal
                </button>
                <button type="button" class="btn btn-default" onclick="window.location.href= '{{  path('client_new', {'origin' : 'index'}) }}' " style="width: 167px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    New client
                </button>
            </div>
        </div>


{% endblock %}


{%  block jobs %}
    <div class="row" id="search-bar">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." id="term">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="search-btn">Go</button>
                    </span>
            </div>
        </div>
    </div>

    <h3>Jobs to Be Opened</h3>
    <table id="approved" >

        <th style="padding-left: 20px">
            Reference
        </th>
        <th style="padding-left: 20px">
            Date Approved
        </th>

        {% for proposal in approved %}

            <tr>
                <td style="padding-left: 20px">
                    {{ proposal.reference }}
                </td>
                <td style="padding-left: 20px">
                    {% if proposal.approvedAt %}
                        {{ proposal.approvedAt.format('d-m-Y') }}
                    {% endif %}
                </td>
            </tr>


        {% endfor %}

    </table>


    <div id="add-proposal" style="padding-top: 30px">

        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" onclick="window.location.href= '{{ path('job_new') }}' " style="width: 167px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add Job
            </button>
            <button type="button" class="btn btn-default" onclick="" style="width: 167px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Request approval
            </button>
        </div>
    </div>

    <h3>Jobs in Progress</h3>
    <table id="approved" >

        <th style="padding-left: 20px">
            Job Number
        </th>
        <th style="padding-left: 20px">
            Client
        </th>
        <th style="padding-left: 20px">
            Current Status
        </th>
        <th style="padding-left: 20px">
            Notes
        </th>


    </table>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });
        });
    </script>


    <script>
        $("#search-btn").click(function(){
            $term = $("#term").val();
            $( "div.second" ).replaceWith( "<h2>New heading</h2>" );
            window.location.href='http://127.0.0.1:8000/search/'+$term;
        })
    </script>

{% endblock %}