{% extends 'base.html.twig' %}

{% block body %}

    <h3>Pending Proposals</h3>
    <table id="pending">

        {% for proposal in pending %}
            <tr>
                <td style="padding-left: 20px">
                    <a href="{{ path('proposal_view', {'proposal_id': proposal.id}) }}">{{ proposal.number }}</a>
                </td>
                {#Each proposal name needs to link to the edit proposal page (based off the proposal form?)#}
            </tr>
        {% endfor %}

    </table>

    <div style="padding-bottom: 30px">
        <h3>Approved Proposals</h3>
        <table id="approved" >

            {% for proposal2 in approved %}
                <tr>
                    <td style="padding-left: 20px">
                        <a href="{{ path('proposal_view', {'proposal_id': proposal2.id}) }}">{{ proposal2.number }}</a>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

    <div id="add-proposal">

        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" onclick="window.location.href='http://127.0.0.1:8000/proposal/new'" style="width: 167px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                New proposal
            </button>
            <button type="button" class="btn btn-default" onclick="window.location.href='http://127.0.0.1:8000/client/new'" style="width: 167px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                New client
            </button>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}