{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ asset('bundles/logo/logo.png') }}" onclick="window.location.href='http://127.0.0.1:8000/index'"  id="logo"/>

    <div id="wrapper">
        <div id="container">
            <br>
            <button type="button" class="btn btn-default" onclick="history.go(-1);" style="margin-left: 30px">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                Cancel
            </button>
            <br>
            <div>
                {{ form_start(form) }}
                <div>
                    {{ form_row(form.name) }}
                </div>
                <div>
                    {{ form_row(form.phone) }}
                </div>
                <div>
                    {{ form_row(form.fax) }}
                </div>
                <div>
                    {{ form_row(form.financeNumber) }}
                </div><div>
                    {{ form_row(form.contactPerson) }}
                </div><div>
                    {{ form_row(form.mobile) }}
                </div><div>
                    {{ form_row(form.accContact) }}
                </div>

                <div>
                    {{ form_row(form.submit) }}
                </div>


                {{ form_end(form) }}
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}


{% endblock %}
